@model WebApplication.Models.Funcionario

@{
    ViewData["Title"] = "Admissão";
}
<div class="text-center">
    <h4>Admissão</h4>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeFuncionario" class="control-label">Nome Completo</label>
                <input asp-for="NomeFuncionario" class="form-control" />
                <span asp-validation-for="NomeFuncionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CargoFuncionario" class="control-label"></label>
                <select asp-for="CargoFuncionario" class="form-control">Escolha o cargo...</select>
                <span asp-validation-for="CargoFuncionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalarioFuncionario" class="control-label"></label>
                <input asp-for="SalarioFuncionario" class="form-control" />
                <span asp-validation-for="SalarioFuncionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAdmissao" class="control-label"></label>
                <input asp-for="DataAdmissao" class="form-control" />
                <span asp-validation-for="DataAdmissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
